* {
    border-radius: 0.5rem;
}

.buttomStyle {
    /* border: solid red; */
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 150ms;
    width: 100%;
}

.cardStyle {
    /* border: solid green; */
    max-width: 28rem;
    margin: auto;
    padding: 1.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1 rgba(0, 0, 0, 0.06);
    background-color: white;
}